/*
 * Pagination css File
*/

.Pagination {
    /* propertys here */
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0px;
    padding: none;
}

.page-number{
    box-sizing: border-box;
    padding: 1px 5px;
    border: 1px solid #c7c6ca;
    margin-left: 10px;
    border-radius: 25px;
    font-size: 11px;
}
.page-number:hover{
    background-color:#F78383 ;
}
.page-link{
    color:#444444;
    text-decoration: none;
}
.page-link:hover{
    color: red;
}